

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7AB8BF;
  min-height: 100vh;
}

.title {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
} 

.attempt {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.input {
  /* background: #7AB8BF; */
  color: #fff;
  border: 2px solid #025159;
  border-radius: 5px;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default {
  background: #7AB8BF;
}
.yellow {
  background: #efb80f;
}
.green {
  background: #26ac12;
}
.black {
  background-color: #025159;
}

.disabled {
  background-color: #3E848C;
}

.focus {
  outline: 2px solid #fff;
}
.input:focus {
  outline: 2px solid #fff;
}

.input:last-of-type {
  margin-right: 0px;
}

.keyboard {
  width: 500px;
}

.rowKeyboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.buttonKeyboard {
  text-transform: capitalize;
  border: none;
  min-width: 40px;
  height: 40px;
  padding: 0 15px;
  background-color: #025159;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  width: 600px;
  height: 250px;
  background: #025159;
  border: 2px solid #fff;
  border-radius: 5px;
  z-index: 10;
  position: absolute;
  color: #fff;
  text-align: center;
}
.keyboardBlack {
  color: #7AB8BF;
}
.button {
  color: #fff;
  background-color: #3E848C;
  border: 2px solid #fff;
  padding: 10px 15px;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  animation: pulse 2s infinite;
  margin-top: 24px;
}
.button:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    transform: scale(.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
  }
  100% {
    transform: scale(.9);
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}